dataset/annotations/Coura-lrm.tif
dataset/annotations/Arcos-lrm.tif
dataset/annotations/PNPG-lrm.tif
dataset/annotations/Viana-lrm.tif
dataset/points/+01000_259000.las
dataset/*
yolov7/best_e6e.pt
yolov7/Arcos-lrm.tif
yolov7/results/bb_all.png
yolov7_seg/Arcos-lrm.tif
